<tr>
  <td > {{ elem.id }} </td>
  <td><a ui-sref="tasks({ id: elem.id })"
         ng-class="elem.is_high_priority === true ? 'bold' : ''">{{ elem.name }}</a> </td>
  <td> {{ elem.tags}} </td>
  <td> {{ elem.actual_effort }} </td>
  <td> {{ elem.estimated_effort}} </td>
  <td> {{ elem.due_date}} </td>
</tr>
