<div class="center-block">
  <h1 class="text-center"
        ng-show="!inlineEditorVisibility"
        ng-click="taskDetailsCtrl.toggleInlineEditor($event)">{{ detailsName }}</h1>

  <inline-editor></inline-editor>


  <p class="text-center">{{ details.description }}</p>
</div>