<div class="container center-block">
  <table class="table table-striped">
    <thead>
      <th>Task id</th>
      <th>Task name</th>
      <th>Tags</th>
      <th>Actual effort</th>
      <th>Estimated effort</th>
      <th>Due date</th>
    </thead>
    <tbody>
      <tr task ng-repeat="elem in tasks | orderBy: 'id'"
          ng-if="elem['obj_status'] === 'active'"></tr>
    </tbody>
  </table>
</div>
